:root {
  --radius: 0.375rem;
  --sidenav: 250px;

  --white: #FFFFFF;
  --black: #000000;
  --grey: #525F7F;
  --purple: #9c27b0;
  --bg-card: #1b1b1b;

  --danger: #F5365C;
  --warning: #FB6340;
  --info: #11CDEF;
  --success: #2DCE89;
  --primary: #202b4a;

  --light-grey: #eeeeee;
  --color-focus: var(--primary);
  --color-unfocused: #bdbdbd;
}

@font-face {
 font-family: "Monaco";
 src: url("/fonts/Monaco.ttf") format("truetype");
}
@font-face {
 font-family: "Open Sans";
 src: url("/fonts/OpenSans.ttf") format("truetype");
}

body {
  font-family: "Open Sans";
  color: var(--white);
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100vh;
  transition: all 200ms linear;
  background: var(--black);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-unfocused);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer {
  text-align: center;
  padding: 15px;
  margin-top: 25px;
}

.row {
  display: flex;
}
.col {
  display: inline-block;
}

#main-content {
  position: absolute;
  top: 0;
  left: 250px;
  min-width: calc(100% - var(--sidenav));
  max-width: calc(100% - var(--sidenav));
}

/*
  Img
*/
img.small {
  height: 100px;
  width: auto;
}
img.fluid {
  max-height: 200px;
  height: auto;
  border-radius: var(--radius);
  margin-bottom: 1rem;
}
img.full {
  width: 100%;
  max-width: 100%;
  border-radius: var(--radius);
}

/*
  Input
*/

input[type="text"],[type="password"],[type="email"],[type="number"],[type="tel"] {
  border: 0;
  width: 100%;
}
input[type="text"],[type="password"],[type="email"],[type="number"],[type="tel"]:focus  {
  outline: none;
}
select {
  border: 0;
  background: var(--white);
  padding: 0px 7px;
}
select[multiple] {
  border: 1px solid var(--white);
  border-radius: var(--radius);
  background: var(--black);
  color: var(--white);
}
.input-group {
  height: fit-content;
  position: relative;
  padding: 10px 6px;
  background: white;
  border: 0.5px var(--color-unfocused) solid;
  border-radius: var(--radius);
  display: flex;
  margin-bottom: 1rem;
  color: var(--black);
}
.input-group.disabled { color: var(--color-unfocused); }
.input-group.label { padding-top: 30px; }
.input-group.label input { height: fit-content; margin-top: auto; }
.input-group.is-invalid { border: 2px var(--danger) solid; }
/* .input-group:has(> span) { padding-top: 30px; } // NOT SUPPORTED */
.input-group span {
  position: absolute;
  width: calc(100% - 15px);
  left: 0;
  top: 0;
  padding: 2px 0px 2px 15px;
  font-size: 0.8rem;
  border-bottom: 1px solid var(--color-unfocused);
}
.input-group i {
  color: var(--color-unfocused);
  margin: auto 10px;
}
.input-group:not(.disabled):hover {
  border: 0.5px var(--color-focus) solid;
}
.input-group:not(.disabled):hover i {
  color: var(--primary);
}
.input-group:not(.disabled):hover button i {
  color: var(--white);
}
.input-group button:hover {
  color: var(--black);
}
.input-group button.icon {
  padding: 7px;
}
.input-group button.icon i {
  margin: 0;
  padding: 0;
}
.input-group button.success {
  background: var(--success);
  color: var(--white);
}

/*
  checkbox
*/
.checkbox-container {
  width: fit-content;
  height: fit-content;
  margin: auto 0px;
}

/*
  Button
*/

button {
  display: block;
  margin: 0;
  padding: .625rem 1.25rem;
  cursor: pointer;
  border: none;
  border-radius: var(--radius);
  height: fit-content;
}
button.action {
  margin-right: 5px;
  padding: 10px;
}
button i { color: var(--black); }
button:hover {
  transform: translateY(-2px);
}
button.primary { background-color: var(--primary); color: var(--white); }
button.success { background-color: var(--success); color: var(--white); }
button.warning { background-color: var(--warning); color: var(--white); }
button.danger { background-color: var(--danger); color: var(--white); }
button.purple { background-color: var(--purple); color: var(--white); }

/*
  Card
*/
.card.login {
  max-width: 350px;
  margin: 45px auto;
}
.card {
  background: var(--bg-card);
  padding: 15px 25px;
  border-radius: var(--radius);
  margin: 15px 20px;
}

.card.expand {
  padding: 0;
}
.card.expand .header {
  display: flex;
  cursor: pointer;
  padding: 15px 25px;
}
.card.expand .content {
  max-height: 0;
  overflow: hidden;
  padding: 0px 25px;
  transition: all 0.25s ease-in-out;
}
.card.expand .header::after {
  font-family: 'Font Awesome 6 Pro';
  font-weight: 700;
  font-size: 1.2rem;
  font-style: normal;
  font-variant: normal;
  display: inline-block;
  margin: auto 0px auto auto;
  height: fit-content;
  content: '\f0d7';
  transition: all 0.25s ease;
  color: var(--black);
}

.card.expand.show .content {
  max-height: 1000px;
}
.card.expand.show .header::after {
  transform: rotate(180deg);
  /*color: var(--primary);*/
}

/*
  Weather
*/
#actual-weather .card i {
  font-size: 2rem;
  margin: auto 0px;
}
#actual-weather .card p {
  margin: auto;
  font-size: 1.5rem;
}

/*
  Tooltip
*/
[tooltip] {
  position: relative;
}
.tooltip {
  font-size: 0.75rem;
  display: none;
  position: absolute;
  background: black;
  padding: 7px 10px;
  border-radius: var(--radius);
  bottom: -40px;
  right: -50%;
  color: white;
  white-space: nowrap;
}
.tooltip.show {
  display: block;
}

/*
  Dropdown
*/
.dropdown {
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.dropdown a:not(.dropdown-item) {
  display: flex;
  padding: .625rem 1.25rem;
  border: none;
  border-radius: var(--radius);
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
.dropdown a:not(.dropdown-item)::after {
  display: inline-block;
  width: 0;
  height: 0;
  content: '';
  vertical-align: .255em;
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  margin: auto 10px auto auto;
}
.dropdown-menu {
  display: none;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 10;
  background: white;
  border-radius: var(--radius);
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);

  overflow: hidden;
  width: max-content;
  right: 0;
  margin-top: 3px;

}
.dropdown.show .dropdown-menu {
  display: block;
}
.dropdown-item {
  display: block;
  padding: .625rem 1.25rem;
  transition: all 200ms ease-in-out;
}
.dropdown-item:hover {
  background: var(--grey);
  color: white;
}

/*
  Modal
*/
#modal-container {
  position: fixed;
  min-width: 100%;
  min-height: 100vh;
  backdrop-filter: blur(2px);
}
#modal-container.extended { backdrop-filter: blur(40px); }
#modal-container.hidden { display: none; }
.modal {
  min-width: 400px;
  max-width: 400px;
  background: var(--black);
  border-radius: var(--radius);
  margin: auto;
  margin-top: 30px;
  box-shadow: 0 0 10px 0px var(--white);
}
.modal .header {
  display: flex;
  padding: 15px 10px;
  border-bottom: 1px solid var(--black);
}
.modal .header i {
  cursor: pointer;
  height: fit-content;
  font-size: 1.35rem;
  margin: auto 20px auto auto;
}

.modal .content {
  padding: 20px;
  overflow: auto;
  max-height: 70vh;
}

/*
  Notification
*/
a[toggle="notification"] {
  position: relative;
}
#notif-container {
  overflow: hidden;
  min-width: 200px;
  position: absolute;
  right: 0%;
  top: 100%;
  display: none;
  z-index: 3;
  box-shadow: 0px 2px 8px black;
  background: var(--white);
  border-radius: var(--radius);
}
#notif-container.show {
  display: block;
}
#notif-counter {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  font-size: 0.6rem;
  margin: 0;
  padding: 4px 7px;
}
.notif {
  padding: 10px 5px;
}
.notif:hover { background: var(--color-unfocused); }
.notif:hover .date { color: var(--white); }
.notif .coll {
  margin-left: 15px;
}
.notif p {
  margin: 0;
}
.notif .date {
  font-size: 0.8rem;
  color: var(--color-unfocused);
}

/*
  Tabs
*/
.tabs {
  background: var(--primary);
  padding: 7px;
  color: var(--white);
  display: flex;
  margin: 10px 20px;
  border-radius: var(--radius);
}
.tabs .tab {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-radius: var(--radius);
}
.tabs .tab.active {
  background: var(--grey);
}
.tabs .tab i {
  margin-right: 5px;
}

/*
  Breadcrumb
*/
.breadcrumb {
  padding: 10px 20px;
  display: flex;
}
.breadcrumb i {
  margin: auto 25px auto 0;
  height: fit-content;
  cursor: pointer;
}
.breadcrumb ul {
  display: flex;
  height: fit-content;
  margin: auto 0;
}
.breadcrumb ul li {
  cursor: pointer;
}
.breadcrumb ul li:not(:first-child) {
  margin-left: .5rem;
}
.breadcrumb ul li:not(:first-child)::before {
  display: inline-block;
  padding-right: .5rem;
  color: var(--grey);
  content: "/";
}

/*
  Sidenav
*/

nav {
  max-width: var(--sidenav);
  min-width: var(--sidenav);
  min-height: 100vh;
  max-height: 100vh;
  box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
  top: 0; left: 0;
  position: fixed;
  overflow-y: auto;
  background: var(--primary);
}
nav h6 {
  font-size: .75rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  letter-spacing: .04em;
  text-transform: uppercase;
  margin: 0px 26px;
}
nav .header {
  margin: 25px 15px;
  display: flex;
}
nav .header img {
  max-width: 175px;
  min-width: 175px;
  cursor: pointer;
}
nav .header i {
  margin: auto 0px auto auto;
  cursor: pointer;
}
nav .content {
  padding: 0;
  margin: 10px 15px;
  list-style: none;
}
nav .content .nav-item {
  border-radius: var(--radius);
  padding: 15px 11px;
  margin: 5px 0px;
  cursor: pointer;
}
nav .content .nav-item:hover:not(.collapse) {
  background: var(--light-grey);
}
nav .content .nav-item i {
  margin-right: 10px;
  min-width: 1.2rem;
}
nav .content .nav-item.collapse a:first-child { display: flex; }
nav .content .nav-item.collapse a:first-child::after {
  font-family: 'Font Awesome 6 Pro';
  font-weight: 700;
  font-style: normal;
  font-variant: normal;
  display: inline-block;
  margin-left: auto;
  content: '\f105';
  transition: all .15s ease;
  color: #ced4da;
  text-rendering: auto;
}
nav .content .nav-item.collapse.show a:first-child::after {
  transform: rotate(90deg);
  color: var(--primary);
}
nav .content li.collapse ul {
  display: none;
}
nav .content li.collapse.show ul {
  display: block;
}
nav .second {
  display: block;
  margin: 15px 26px;
}
nav .second i {
  margin-right: 10px;
}
nav .second:hover {
  color: var(--black);
}

/*
  Navbar
*/
.navbar {
  display: flex;
  padding: 1rem;
}
.navbar .search {
  border-radius: 25px;
  margin-bottom: 0px;
}
.navbar .item {
  padding: 10px;
  margin-right: 10px;
}
.navbar .item i {
  margin: auto 0px;
  font-size: 1.25rem;
  color: var(--white);
}
.navbar .item.danger i {
  color: var(--danger);
}
.navbar .avatar {
  margin-left: 10px;
}

/*
  Conversation
*/
.chat {
  width: 100%;
  padding-top: 10px;
}
#conv-list {
  margin: 10px;
  width: 300px;
}
#conv-list li.empty {
  text-align: center;
}
#conv-list li {
  display: flex;
  max-width: 300px;
  overflow: hidden;
  padding: 6px;
  border-radius: 6px;
  margin-bottom: 10px;
}
#conv-list li.active {
  background: var(--primary);
  color: white;
}
#conv-list li .info p {
  margin: 0px 7px;
  display: block
}
#conv-detail {
  width: 100%;
  padding: 0;
}
.conv .header {
  display: flex;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06) !important;
  padding: 14px;
}
.conv .chat {
  min-height: 300px;
  max-height: 400px;
  overflow: auto;
}
.conv .footer {
  display: flex;
}
.conv .footer .input-group {
  width: 100%;
  margin: 10px 0px 10px 15px;
}
.conv .footer button {
  margin: auto 15px;
}

.message {
  width: fit-content;
  margin-left: 10px;
  margin-bottom: 10px;
}
.message.sended {
  margin-left: auto;
  margin-right: 10px;
}
.message p:not(.date) {
  margin: 0;
  padding: 4px 9px;
  width: fit-content;
  color: var(--white);
  background: var(--warning);
  border-radius: 10px 10px 10px 0px;
}
.message.sended p:not(.date) {
  margin-left: auto;
  color: var(--white);
  background: var(--primary);
  border-radius: 10px 10px 0px 10px;
}
.message p.date {
  margin: 0;
  font-size: 0.7rem;
  color: var(--grey);
  text-align: start;
}
.message.sended p.date {
  text-align: end;
}

/*
  Dashboard
*/
.dash-icon-card {}
.dash-icon-card h4 {
  margin: 0;
  opacity: 0.6;
  font-size: .875rem;
  line-height: 1.5;
  text-transform: uppercase;
}
.dash-icon-card .value {
  margin: 0;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.375;
}

.dash-weather {
  display: flex;
}
.dash-weather .coll {
  text-align: center;
  margin: auto auto;
}
.dash-weather .coll p {
  margin: 0;
}
.dash-weather .coll i {
  font-size: 1.3rem;
}

ul.dashboard-list li {
  display: flex;
  padding: 15px 0px;
  border-bottom: 1px solid var(--color-unfocused);
}
ul.dashboard-list li input[type="checkbox"] {
  margin: auto 0px auto auto;
}
ul.dashboard-list li p.title {
  font-weight: 620;
}
ul.dashboard-list li p {
  margin: 0;
}

/*
  Divider
*/
.divider {
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
  margin: 15px 25px;
}

/*
  Avatar
*/
.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: var(--light-grey);
}
.avatar.big {
  height: 80px;
  width: 80px;
}

/*
  Boats Images
*/
.boat-preview { display: flex; width: fit-content; }
.boat-preview img {
  width: 70px;
  height: 70px;
  border-radius: var(--radius);
}
.boat-preview img.p-1 { transform: translateX(-20px); }
.boat-preview img.p-2 { transform: translateX(-40px); }
.boat-preview img.p-3 { transform: translateX(-60px); }
.boat-preview img.p-4 { transform: translateX(-80px); }


/*
  Badge
*/
.badge {
  border-radius: var(--radius);
  background: var(--light-grey);
  padding: 5px 7px;
  margin-right: 5px;
  display: inline-block;
  font-size: 0.8rem;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}
.badge.warning { background: var(--warning); color: var(--white); }
.badge.danger { background: var(--danger); color: var(--white); }
.badge.info { background: var(--info); color: var(--white); }
.badge.success { background: var(--success); color: var(--white); }

/*
  Loading
*/
#loading {
  display: none;
  width: 100vw;
  height: 10px;
  position: fixed;
  top: 0;
  z-index: 900;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
}

@keyframes gradient {
	0% { background-position: 0% 50%; }
	50% {	background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}

/*
  Alert
*/
#alert-container {
  position: fixed;
  z-index: 1000;
  top: 0; right: 0;
  margin: 1.5rem;
}
.alert {
  border-radius: var(--radius);
  display: flex;
  padding: 0px 20px;
}
.alert i {
  display: block;
  margin: auto 5px;
}
.alert .title {
  font-weight: bold;
  margin: auto 1rem;
}
.alert.error { background-color: var(--danger); color: var(--white); }
.alert.warning { background-color: var(--warning); color: var(--white); }
.alert.info { background-color: var(--info); }
.alert.success { background-color: var(--success); color: var(--white); }

/*
  Flag
*/
.flag {
  width: 20px;
  height: 20px;
}

/*
  Icon
*/
i.lead {
  font-size: 3rem;
  margin: 6px auto;
  display: block;
  width: fit-content;
}
.circle-bg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
}
.circle-bg i {
  margin: auto;
  font-size: 1.25rem;
}
.circle-bg.primary {
  background: var(--primary);
  color: white;
}
.circle-bg.warning {
  background: var(--warning);
  color: white;
}
.circle-bg.success {
  background: var(--success);
  color: white;
}

/*
  Grid
*/
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/*
  Center
*/
.ch { margin-left: auto; margin-right: auto; }
.cv { margin-top: auto; margin-bottom: auto; }
/*
  Margin
*/
.ml-auto { margin-left: auto; }
.mr-auto { margin-right: auto; }
.mt-auto { margin-top: auto; }
.mb-auto { margin-bottom: auto; }
.mv-auto { margin-top: auto; margin-bottom: auto; }
.mh-auto { margin-left: auto; margin-right: auto; }
.mt-1 { margin-top: 1.5rem; }
.mb-1 { margin-bottom: 1.5rem; }
.ml-1 { margin-left: 1.5rem; }
.mr-1 { margin-right: 1.5rem; }
.mv-1 { margin-top: 1.5rem; margin-bottom: 1.5rem; }
.mh-1 { margin-left: 1.5rem; margin-right: 1.5rem; }
/*
  Padding
*/
.p-0 { padding: 0; }
.w-100 { width: 100%; }
/*
  Text
*/
.light { color: var(--white); }
.danger { color: var(--danger); }
.primary { color: var(--primary); }
.warning { color: var(--warning); }
.success { color: var(--success); }
.purple { color: var(--purple); }
.muted { color: #8898aa; font-size: 0.85rem; }
.center { text-align: center; }

/*
  Utils
*/
.block { display: block; }
.flex { display: flex; }
.hide { display: none; }

/*
  Animation
*/
.rotate {
  animation: rotation 1s infinite linear;
}
@keyframes rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

/*
  DataTables
*/
.dataTable-wrapper {
  margin: 10px;
  border-radius: 10px;
  background: var(--white);
}
.dataTable-search {
  border-radius: 5px;
  border: 1px solid var(--light-grey);
}
.dataTable-search input {
  width: auto;
}
tr, th, td {
  vertical-align: middle !important;
}
tbody tr th {
  display: flex;
}
tbody tr th span.name {
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 1rem;
}
