<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>${{dashboard}} - Hamac</title>

    <link rel="stylesheet" href="/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="/css/hamac.css">
  </head>

  <body>

    <!-- Sidenav -->
    <nav class="sidenav" id="sidenav">

      <!-- Sidenav - Header -->
      <div class="header">
        <img id="brand_img" class="navbar-brand-img" alt="${{logo}}" src="/img/logo_big.png">
        <i class="fa-solid fa-bars-staggered"></i>
      </div>

      <!-- Sidenav - Content -->
      <ul class="content">

        <!-- Dashboard -->
        <li class="nav-item" toggle-view="dashboard">
          <i class="fas fa-tachometer-alt"></i>
          <span>${{dashboard}}</span>
        </li>

        <!-- Pages -->
        <li class="nav-item" toggle-view="pages">
          <i class="fa-solid fa-computer-classic"></i>
          <span>${{applications}}</span>
        </li>

      </ul>

      <!-- Divider -->
      <hr class="divider">
      <h6 class="muted">${{hamac}}</h6>

      <!-- Application -->
      <a class="second muted" toggle-view="settings">
        <i class="fa-solid fa-gear"></i>
        <span>${{settings}}</span>
      </a>
      <a class="second muted" toggle-view="apps">
        <i class="fas fa-bug"></i>
        <span>${{issues}}</span>
      </a>

    </nav>

    <div id="main-content">

      <!-- navbar -->
      <div class="navbar" id="navbar">
        <!-- search -->
        <div class="input-group search">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input placeholder="${{search}}" type="text" id="search-bar">
        </div>
        <div class="ml-auto"></div>
        <!-- disconnect -->
        <a class="item danger" toggle="reconnect" tooltip="${{disconnect_click_reconnect}}">
          <i class="fa-solid fa-wifi-slash"></i>
        </a>
        <!-- notifications -->
        <a class="item" toggle="notification">
          <i class="fa-solid fa-bell"></i>
          <span class="badge warning" id="notif-counter"></span>
          <div id="notif-container"></div>
        </a>
        <!-- lock -->
        <a class="item" action="lock">
          <i class="fa-solid fa-lock-keyhole"></i>
        </a>
        <!-- user -->
        <div>
          <img class="avatar" id="avatar" toggle-elem="avatar-menu">
          <!--<div class="card" id="avatar-menu">
            <h6>${{welcome}}</h6>
            <a class="block">
              <i class="fa-solid fa-clock-rotate-left"></i>
              <span>${{activity}}</span>
            </a>
            <a class="block">
              <i class="fa-solid fa-gear"></i> ${{settings}}
            </a>
            <a class="block">
              <i class="fa-solid fa-life-ring"></i> ${{support}}
            </a>
            <hr class="divider">
            <a class="block">
              <i class="fa-solid fa-arrow-right-from-bracket"></i> ${{logout}}
            </a>
          </div>-->
        </div>
      </div>

      <!-- Breadcrumb -->
      <div class="breadcrumb">
        <i class="fa-solid fa-house" toggle-view="home"></i>
        <ul id="breadcrumb">
          <li toggle-view="Home">Home</li>
          <li toggle-view="Home">Home</li>
          <li toggle-view="Home">Home</li>
        </ul>
        <div class="ml-auto" id="actions-button"></div>
      </div>

      <!-- Container -->
      <div id="main-container"></div>

      <!-- footer -->
      <footer class="text-light">
        &copy; <span id="copyright-date"></span> Made With <i class="fas fa-heart danger"></i> by
        <a href="https://zeta.revolutions.network" class="font-weight-bold" target="_blank">Zeta Network</a>
      </footer>

    </div>

    ${{JS}}
    <script src="/js/hamac.js" charset="utf-8"></script>
    <script src="/js/ui.js" charset="utf-8"></script>
    <script src="/js/admin.js" charset="utf-8"></script>

    <div style="display: none;" id="raw_user">${{RAW_USER}}</div>
    <div style="display: none;" id="lang-data" lang="en">${{ALL_LANG}}</div>

  </body>
</html>
