<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title id="pageTitle">${{login}} - Hamac</title>

    <link rel="icon" type="image/png" href="/img/favicon_zcms.png" />
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/hamac.css">
  </head>

  <body class="bg-default" style="background-image: url('/img/bg_login.svg')">


    <!-- Start Main Content -->
    <div class="content">

      <div class="card login">
        <div class="header">
          <img alt="Hamac Logo" src="/img/favicon_zcms.png">
        </div>
        <form action="/dashboard" method="post" id="login_form">
          <div class="input-group">
            <i class="fa-solid fa-envelope"></i>
            <input placeholder="${{email}}" type="email" name="email" required>
          </div>
          <div class="input-group">
            <i class="fa-solid fa-key"></i>
            <input placeholder="${{password}}" type="password" name="password" required>
          </div>

          <div class="row mv-1">
            <div class="checkbox-container">
              <input type="checkbox" id="remember_me" name="remember_me">
              <label for="remember_me">${{remember_me}}</label>
            </div>
          </div>
        </form>

        <button class="primary ch" id="loginBtn">${{sign_in}}</button>

        <p class="danger center">$[[]]</p>
      </div>

      <div class="row">
        <a href="#" class="light mh-auto"><small>${{forget_password}}</small></a>
      </div>

    </div>
    <!-- End Main Content -->

    <footer class="text-light">
        &copy; <span id="copyright-date"></span> Made With <i class="fas fa-heart danger"></i> by
        <a href="https://zeta.revolutions.network" class="font-weight-bold" target="_blank">Zeta Network</a>
    </footer>

    <div id="loading"></div>

    <div style="display: none;" id="lang-data" lang="en">
      {"error":"Error", "info":"Info", "warning":"Warning", "success":"Success"}
    </div>


    <script type="text/javascript">
      class LoginPage {
        constructor() {
          document.querySelector("#loginBtn").addEventListener('click', () => this.login());
          document.onkeydown = (e) => {
            e = e || window.event;
            if (e.keyCode != 13) return;
            e.preventDefault();
            this.login();
          }
        }

        async login() {
          var form = Form.verify({email:"", password:""}, document);
          if (!form.result) return;

          //l(true);
          document.querySelector('#login_form').submit();
        }
      }

      new LoginPage();
    </script>

    <script src="/js/hamac.js" charset="utf-8"></script>

  </body>

</html>
